
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
::-webkit-scrollbar{
    display: none;
}
.screen{
    display:none;
}
.naubar{
    /*background-color: #9b1d1d;*/
    height: 18vh;
    width: 100%;

}
.uppernaubar{
    height:8vh;
    background-color: rgb(230, 228, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
   


}
.lowernaubar{
    height: 10vh;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

.uppernaubar div{
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 10px;
}
.uppernaubar ul{
    display: flex;
    gap:30px;
}
.lowernaubar img{
    /* height:70px; */
    width:150px; 
    margin-left: 80px;
    
}
.uppernaubar p{
      background-color: rgb(179, 183, 182);
}
.Dis ul{
    display: flex;
    gap:10px;
}
.Dis ul li{
    height: 80px;
    width: 140px;
    /* background-color: aqua; */
    margin-top: 50px;
}
.logo{
    height:70px;
    width:230px;
    /*background-color: rgb(121, 24, 33);*/
}
.Dis{
    height:80px ;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
   
}
.signup{
    height:40px;
    width:100px;
    background-color: rgb(16, 3, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.container{
    height:800px;
    width: 1550px;
    background: rgb(144,155,203);
    background: linear-gradient(90deg, rgba(144,155,203,0) 30%, rgba(23,64,239,0.272233893557423) 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cont1{
    height: 600px;
    width: 800px;
    /* background-color: brown; */
    margin-left: 40px;
   
}
.cont2{
    height: 430px;
    width: 600px;
    /* background-color: blueviolet; */
    margin-top: 150px;
}

.cont1 h1{
    font-size: 45px;
    font-weight: 500;
    color: rgb(87, 89, 91);
}

.cont1 p{
    font-size: 20px;
     color: rgb(87, 89, 91);
}
.form{
    height: 45px;
    width: 550px;
    border-radius: 40px solid black;
    border-radius: 10px ;
}
.form1{
    height:45px ;
    width: 200px;
    background-color: rgb(5, 5, 48);
    color: white;
    border-radius: 10px;
}
.cont1 img{
    height: 70px;
}
.cont2 img{
    height: 100px;
}
.A img{
    height:163px;
}
.B img{
    height:150px;
}
.cards{
    height:400px;
    width: 100%;
    background-color: rgb(233, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;


}
.card1{
    height:290px;
    width: 300px;
    background-color:white;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
   
   
}

.card1 img{
    height: 70px;
}
.card1 h2{
  color: rgb(40, 37, 37);
} 
.card1 p{
    font-size: 18px;
    color: rgb(68, 60, 60);
    text-align: center;
}
.service{
    height: 250px;
     width: 100%;
     /* background-color: aquamarine; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
}
.ser1{
    height: 250px;
    width: 100%;
    /* background-color: rgb(40, 40, 77); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.service h1{
    font-size: 40px;
}
.service p{
    font-size: 25px;
    color: rgb(60, 55, 55);
    text-align: center;
}
.ser1 img{
    height: 160px;

}
.k1{
    height: 350px;
    width: 100%;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.k1 h1{
    font-size: 45px;
    color: rgb(53, 52, 52);
}
.k1 p{
    font-size: 22px;
    color: rgb(97, 94, 94);
    text-align: center;
}
.Cardss{
    height: 250px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.cardss1{
    height:200px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    color: white;
   
  
}
.cardss1 img{
    height: 65px;
    margin-top: 30px;
}
.cardss1 h3{
    font-size: 23px;
}
.cardss1 p{
    font-size: 18px;
}
.box1{
    height:100px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.B1{
    height:40px;
    width: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.box2{
    height: 200px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.B2{
    height:180px;
    width:800px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.B2 h1{
    font-size: 40px;
}
.B2 p{
    font-size: 23px;
    text-align: center;
    color: rgb(95, 92, 92);
}
.video{
    height:550px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
      justify-content: center;
}
.video img{
    height:400px;
}
.heading{
    height:250px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.heading1{
    height:250px;
    width: 900px;
    /* background-color: aquamarine; */
}
.heading1 h1{
    text-align: center;
    font-size: 40px;
    color: rgb(29, 29, 29);
}
.heading1 p{
    text-align: center;
    font-size: 23px;
    color: rgb(79, 78, 78);
}

.page{
    height:400px;
    width:100%;
    /* background-color: blue; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 100px;
}
table{
    margin-left: 30px;
    border-collapse: collapse;
    width: 90vw;
    /* background-color: aqua; */
}
.td1{
    width: 100px;
}



tr{
    height: 80px;
}

td img{
    height: 60px;
}

.mainlogo{
    height: 40px;
}

.pollprogress{
height: 40px;;
background-color:#B4C3CD;
border-radius: 5px;

}

.polls{
    display: flex;
    gap: 20px;
}
.listed{
    height: 250px;
    width: 100%;
    /* background-color: #b673df; */
}
.listed p{
    text-align: center;
    color: rgb(124, 120, 120);
}

.super{
    height:220px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.super h1{
    font-size: 45px;
    color: rgb(35, 35, 35);
}
.super p{
    font-size: 25px;
    text-align: center;
    color: rgb(99, 92, 92);
}
.score{
    height:600px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.score img{
    height:600px;
}
.map{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
 

}
.mapps{
    height: 700px;
    width: 1300px;
    background-color: rgb(36, 36, 40);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 50px;

}
.mapdes{
    height:180px;
    width:700px;
    /* background-color: blueviolet; */
    margin-top: 37px;
}
.mapimg{
    height:500px;
    width:1100px;
    /* background-color: rgb(140, 102, 175); */
}
.mapdes h1{
    font-size: 43px;
    text-align: center;
    color: white;
    font-weight: 500;
}
.world{
    height: 200px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.world p{
    font-size: 23px;
    text-align: center;
    color: rgb(112, 111, 111);
}
.world h1{
    font-size: 47px;
    color: rgb(40, 38, 38);
}
.world h3{
    color: rgb(112, 111, 111);
}
.apps{
    height:150px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.apps img{
    height: 100px;
}
.reliable{
    height: 350px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reliable h1{
    font-size: 40px;
    color: rgb(40, 38, 38);
}
.reliable p{
    font-size: 24px;
    text-align: center;
    color: rgb(112, 111, 111);
}
.Trusted{
    height: 500px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}
.tru1{
    height: 400px;
    width: 700px;
    /* background-color: rgb(125, 101, 148); */
}


.tru1 h1{
     font-size:40px ;
    
}

.tru1 p{
    font-size:25px ;
    color: rgb(112, 111, 111);
  
}
.F1{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: black;
    color: white;
  
}

   
.pic{
    height:550px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picimg{
    height:150px;
    width: 150px;
    background-color: rgb(222, 231, 229);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    



}
.picimg img{
    height: 120px;
}
.picdes{
    height:110px;
    width:900px;
    /* background-color: blueviolet; */
}
.picdes p{
    font-size: 23px;
    text-align: center;
}
.picdes h4{
    font-size: 30px;
}
.picdes1{
    height:140px;
    width: 200px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picdes1 h4{
    font-size: 23px;
    text-align: center;
}
.picdes1 p{
    color: rgb(142, 138, 138);
    text-align: center;
}
.picdes1 img{
    height: 50px;
  

}
.scrollbar{
    height: 400px;
    width:450px;
    /* background-color: rgb(21, 160, 181); */
   
    overflow: hidden;

margin-top: 70px;
/* animation: movebox 4s infinite alternate; */
}

.innerBar{
    /* background-color: aqua; */
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    animation-name: movebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
} 


.item img{
   

    height:45px;
}
@keyframes movebox{
    0%{
        transform:translateY(0);
    }
    
    100%{
        transform:translateY(-670px);
    }
}

.frames{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.frames h1{
    font-size: 42px;
    color: rgb(51, 50, 50);
}
.cll{
    height: 600px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: scroll;
    /* animation-name: cardmove;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: linear ;
     */
}
/* @keyframes cardmove{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-500px);
    }
} */
.car1{
    height:400px;
    width:500px;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
   
   
}
.car1 img{
    height: 250px;
}
.car1 h3{
    font-size: 25px;
}
.car1 p{
    font-size: 18px;
    color: rgb(133, 130, 130);
}
.car1 h6{
    font-size: 18px;
    color: rgb(47, 130, 194);
}
.C1{
    height: 150px;
    width: 360px;
    /* background-color: aqua; */
}
.features{
    height: 50px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.features h1{
     font-size: 50px;
}
.SCROLL{
    height: 600px;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.main{
    height: 800px;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}
.asks{
    height: 600px;
    width: 950px;
    /* background-color: chartreuse; */
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.frequently{
    height: 120px;
    width: 800px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.frequently h1{
    font-size: 45px;
}
.qus{
    height:60px;
    width: 900px;
    /* background-color: rgb(245, 215, 220); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    
    
 
}
.qus h4{
    font-size: 20px;
    color: rgb(22, 72, 143);
}



.mainfooter{
    height: 900px;
    width: 100%;
    background-color: rgb(1, 29, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer{
     height: 800px;
     width: 350px;
     /* background-color: brown; */
}
.footer1{
    height: 800px;
    width: 200px;
    /* background-color: rgb(171, 101, 101); */
}
.footer img{
    height: 60px;
}
.footer h4{
    font-size: 17px;
    color: white;
}
.footer p{
    font-size:17px ;
    color: white;
}
.footer h5{
    font-size:17px ;
    color: white;
}
.footer h3{
    font-size:17px ;
    color: white;
}
.footer i{
    color: white;
}
.footer img{
    color: white;
}
.footer h6{
    font-size:17px ;
    color: white;
}
.footer h7{
    font-size:17px ;
    color: white;
}
.footer h2{
    font-size:17px ;
    color: white;
}
.footer1 h5{
    font-size:22px;
    color: white;
}
.footer1 p{
    font-size: 16px;
    color: rgb(221, 217, 217);
}

.FEATURES{
    height: 500px;
    width: 100%;
    background-color: white;
    display: none;

    position: absolute;
    top: 130px;
    left: 100px;
}
.product1:hover+.FEATURES{
    display: block;
}
.FEATURES:hover{
    display: block;
}
.Solution{
    height:280px;
    width:1490px;
    background-color: blueviolet;
    display: none;
    position: absolute;
    left: 0;
    top: 124px;
   
     
}
.SOLU:hover+.Solution{
    display: block;

}
.Solution:hover{
    display: block;
}
.Management{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Mana1{
    height: 240px;
    width: 650px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Mana2{
    height: 240px;
    width: 700px;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    
}
.M1 .image img{
    height: 50px;
    width: 60px;
    margin-left: 10px;
}
.M1 
/* .M2{
    height: 240px;
    width: 700px;
    background-color: crimson;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  
} */
.Mana1 h1{
    text-align: center;
    font-weight: 500;

}
.m1imgae img{
    margin-right: 900px;
}
.m1imgae{
    height: 120px;
    width: 100px;
    margin-right: 80px;
    /* background-color: aqua; */
}
.Mana1 p{
    text-align: center;
    font-size: 19px;
}
.Manage1{
    height: 40px;
    width: 160px;
    background-color: rgb(69, 133, 193);
    color: white;
    border-radius: 5px ;
}
.M1{
    height: 80px;
    width: 300px;
    background-color: rgb(246, 244, 239);
    display: flex;
    border-radius: 5px;
    
}
/* .compute {
    height: 100px;
    width: 200px;
    display: flex;
    margin-right: 100px;
    background-color: aquamarine;
}

.compute .image{
    margin-right: 90px;
} */

.image{
      /* margin-left: 1px; */
      margin-right: 50px;
   
    /* background-color: aquamarine; */
}
/* .imgae img{
    height: 30px;
} */

 .com p{
    font-size: 15px;
    color: #3a3939c4;
    font-weight: 400;
    
}
 .com h4{
    font-weight: 500;
    line-height: 30px;
}
.com h1{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}


.maincomputing {
    height: 470px;
    width:1100px ;
    background-color: white; 
    display: none; 
   
    position: absolute;
    top: 20px;
    left: 288px;
    
     

}
.things:hover+.compute {
    display: block;
}
.maincomputing:hover{
    display: block;
}
::webkit-maincomputie1{
    display: none;
}
.maincompute1{
    height: 480px;
    width:1100px;
    /* background-color: #b673df; */
    /* gap: 20px;
    display: wrap;
    overflow: scroll;
    overflow-x:hidden ;
    top:20px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: scroll;
   

}
.CPU{
    height: 120px;
    width: 300px;
    background-color: #b7c6c9;
   display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
     
}



.store{
    height: 475px;
    width: 90%;
    display: none;
    /* background-color: #369B0C; */
    position: absolute;
    left: 290px;
    bottom: 10px;
    
    
}
.storagess:hover+.store{
    display: block;
}

.store1hover{
    display: block;
}
.store{
    height: 500px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    display: none;
    
}
.store2{
    height:400px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.922);
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.CPU1{
    height: 110px;
    width: 250px;
    /* background-color: #B4C3CD; */
    display: flex;
}


 
.networking{
    height: 470px;
    width: 1050px;
    /* background-color:rgb(81, 40, 40); */
    display: none;
    top: 10px;
    
    position: absolute;
    left: 285px;
    bottom: 30px;
}
.Working:hover+.networking{
    display: block;
}
.networking:hover{
    display: block;
}
 
.network{
    height: 100%;
    width: 100%;
    /* background-color: #2c2c3b; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.net{
    height: 450px;
    width: 98%;
    /* background-color: #e7dfec; */
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px;
    transform: translateY(25px);
    
    
}
.CPU2{
    height: 100px;
    width: 300px;
    /* background-color: #369B0C; */
    display: flex;
}


.database{
    height: 400px;
    width: 1080px;
    /* background-color: #22351a; */
    /* display: none; */
    /* top: 3px; */
    position: absolute;
    left: 290px;
    transform: translateY(-450px);
     margin-top: 55px;
     /* top:-1px; */
}
.Data:hover+.database{
    display: block;
}
.database:hover{
    display: block;
}
.database1{
    height: 100%;
    width: 100%;
    background-color: white;
}
.dataa{
    height: 250px;
    width: 1000px;
    /* background-color: #369B0C; */
    margin-left: 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.CPU4{
    height: 110px;
    width: 300px;
    /* background-color: #B4C3CD; */
    display: flex;
}

.data1{
    height: 100%;
    width: 320px;
    background-color: #F5F7FA;
    border: solid 1px rgba(22, 22, 23, 0.676);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.data1 .image img{
    height: 40px;
    width: 50px;
}
.firewall .image img{
    height: 40px;
    width: 50px;
}
.pricing:hover~.menu_3{
    display: block;
}

 .menu_3{
        border-top: 4px solid blue;
        height: 300px;
        width: 100%;
        background-color: white;
        display: none;
        position: absolute;
        top: 130px;
        right: 0;
    
}
.menu:hover {
    display: block;
}
.menu_4:hover{
    display: block;
}
.menu_5:hover{
    display: block;
}
.menu_3:hover{
    display: block;
}
.PRI1{
    height:280px;
    width:1490px;
    background-color: blueviolet;
    display: none;
    position: absolute;
    left: 0;
    top: 124px;

}
.pricing:hover+.PRI1{
    display: block;

}
.PRI2{
    height:400px;
    width:1490px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing1{
    height: 300px;
    width: 700px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pricing2{
    height: 350px;
    width: 600px;
    /* background-color: rgb(208, 225, 25); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    
}
.pricing1 h1{
    text-align: center;
}
.pricing1 p{
    text-align: center;
}
.p1{
    height: 150px;
    width: 450px;
    /* background-color: coral; */
    display: flex; 
    /* margin-right: 90px; */
    
}
.p1 img{
    height: 80px;
    /* margin-left: 90px; */
    /* background-color: aqua; */

}
.pp1 h4{
    font-size: 24px;
}
.pp1 p{
    color: rgb(96, 93, 93);
}
.Commu{
    height:300px;
    width:1500px;
    background-color:white;
    display: none;
    position: absolute;
    left: 0;
    top: 124px;
  

}
.community:hover+.Commu{
    display: block;

}
.COMMU{
    height: 300px;
    width: 1490px;
    display: flex;
    justify-content: center;
}
.COM1{
    height: 300px;
    width: 600px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.COM2{
    height: 300px;
    width: 700px;
    /* background-color: rgb(146, 201, 49); */
    display: flex;
    gap: 10px;
}
.C1{
    height: 300px;
    width: 500px;
    /* background-color: rgb(138, 21, 21); */
    display: flex;
    gap:10px;
    flex-direction: column;
}
.c1{
    height: 80px;
    width: 300px;
    /* background-color: cadetblue; */
    display: flex;
}
/* .c1img {
    height: 60px;
    width: 60px;
    margin-right: 200px;
    background-color: chartreuse;
} */
.c1img img{
    height:60px;
}
.c1D{
    height: 70px;
    width:180px ;
    /* margin-right: 160px; */
    /* padding-right:180px; */
    /* background-color: aqua; */
}
.c1D h4{
    font-size: 15px;
}
.c1D p{
    font-size: 13px;
}

.WHY{
    height:650px;
    width:1550px;
    background-color:white;
    display: none;
    position: absolute;
    left: 0;
    top: 124px;
    
  

}

.why:hover+.WHY{
    display: block;
}
.WW1{
    height: 100%;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
}
.W1{
    height: 600px;
    width: 500px;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.W2{
    height: 600px;
    width: 1000px;
    /* background-color:pink; */
    display: flex;
    gap: 10px;
}
.WH1{
    height: 600px;
    width:500px ;
    /* background-color: chartreuse; */
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.WH2{
    height: 150px;
    width:400px ;
    /* background-color: darkcyan; */
    display: flex;
}
.WH2 img{
    height: 70px;
}

.poten{
    height: 80px;
    width: 180px;
    /* background-color: cadetblue; */
    margin-right: 100px;
    display: flex;
    border-radius: 0.1;

}
.pimg{
    height: 100px;
    width: 100px;
    /* background-color: coral; */
    margin-right: 100px;
}
.pimg img{
     height:60px;
     margin-right: 500px;
}
.pdes{
    height: 80px;
    width: 800px;
    /* background-color: aquamarine; */
}
.computethings{
    height: 500px;
    width: 300px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Prduct4{
    height:110px ;
    width:300px;
    /* background-color: burlywood; */
    display: flex;
}
.Pimg{
    height: 100px;
    width: 140px;
    /* background-color: aqua; */
}
.Pimg img{
    padding-right: 100px;
}
.Pdes p{
    height: 50px;
    width: 150px;
    /* text-align: center; */
    /* background-color: chocolate; */
}
.FEAT{
      height: 120PX;
      width: 300px;
      /* background-color: aqua; */
     
}


.STORE{
    height: 470px;
    width:1100px ;
    background-color: #115ac6e7; 
    display: none; 
   
    position: absolute;
   

}
.storage:hover+.STORE{
    display: block;
}
.STORE1:hover{
    display: block;
}
::webkit-STORE1{
    display: none;
}
.STORE1{
    height: 480px;
    width:1100px;
    background-color: #b673df;
  
   

}
::webkit-sTORE1{
    display: none;
}
@media screen and (max-width:650px)
{
    .screen{
        height: 80px;
        width: 100%;
        background-color: white;
        
    }
    .naubar{
      display: none;
    }
   .container{
    height: 450px;
    width: 380px;
    /* background-color: aqua; */
    flex-wrap: wrap;
    
   }
   .cont1{
    /* background-color: blueviolet; */
    margin: 0%;
    margin-top: 20px 0px;

   }
   .cont1 h1{
       font-size: 20px;
   }
   .cont1 p{
    font-size: 16px;
}
.form{
    width: 350px;
    
}
.form1{
    width: 350px;
    
}
.cont2{
    display: none;
}
.cont1 img{
    height: 40px;
}
.cards{
    height: 1400px;
    width: 380px;
      flex-wrap: wrap;
      /* background-color: #b673df; */
      gap: 20px;
}

.service h1{
    font-size: 25px;
    text-align: center;
}
.service p{
    font-size: 18px;
}
.ser1{
    height: 800px;
    /* background-color: #b673df; */
    flex-wrap: wrap;
}
.ser1 img{
    height: 150px;
}
  
 .k1 h1{
    font-size: 25px;
    text-align: center;
 }
 .k1 p{
    font-size: 18px;
    text-align: center;
 }
 .Cardss{
    height: 650px;
    /* background-color: violet; */
    flex-wrap: wrap;
    /* display: flex; */
 }
 .cardss1{
    height: 250px;
    width: 180px;

 }
 .cardss1 img{
         height: 60px;
 }
 .cardss1 h3{
    font-size: 20px;
    text-align: center;
 }
 .cardss1 p{
    font-size: 15px;
    text-align: center;
 }
 
 .video{
    /* background-color: #b673df; */
    height: 290px;
 }
 .video img{
    height: 200px;
 }
 .heading{
    /* background-color: aqua; */
    height: 270px;
 }
 
 .heading1 h1{
    font-size: 27px;
 }
 .heading1 p{
    font-size: 18px;
 }
 .page{
    padding-right: 250px;
   
    /* background-color: #b673df; */
 }
 .td1 img{
    height: 50px;
 }
 .polls{
    /* background-color: brown; */
    width: 200px;
 }
 .pollprogress{
      width: 50px;
 }
 .description{
    font-size: 10px;
 }
 .super{
    /* background-color: #b673df; */
 }
 .super h1{
    font-size: 34px;
    color: black;
 }
 .super p{
    font-size: 22px;
 }
 .score{
    /* background-color: aquamarine; */
    height: 800px;
    flex-wrap: wrap;
 }
 .score img{
    height: 350px;
 }
 .map{
    height: 500px;
    /* background-color: aquamarine; */
 }
 .mapps{
    height: 400px;
    width: 400px;
    background-color: black;
 }
 .mapdes{
    height: 120px;
    width:350px ;
    /* background-color: coral; */
 }
 .mapdes h1{
    font-size: 25px;
 }
 .mapimg{
     height: 200px;
     width: 200px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    
 }
 .mapimg img{
    height: 200px;
 }
 .world{
    height: 300px;
    /* background-color: #b673df; */
 }
 .world h3{
    font-size: 18px;
    text-align: center;
 }
 .world h1{
    font-size: 30px;
    text-align: center;
    color: black;
 }
 .world p{
    font-size: 18px;
    text-align: center;
 
}
.apps{
    height: 300px;
    /* background-color: brown; */
    flex-wrap: wrap;
    gap: 30px;
    padding: 0%;
}
.apps img{
    height: 80px;
}
.Trusted{
    height: 1000px;
    /* background-color: blue; */
    flex-wrap: wrap;
}
.F1{
    width: 380px;
}

.picdes{
    width: 350px;
    height: 150px;
    /* background-color: aquamarine; */
}
.picdes p{
    font-size: 18px;
}
.frames{
    height: 50px;
    /* background-color: aquamarine; */
}
.frames h1{
    font-size: 25px;
}
.cll{
    height: 550px;
    width: 450px;
    /* background-color: #b673df; */
    

}
.features h1{
    font-size: 29px;
}

.frequently{
    height: 50px;
    /* background-color: aqua; */
}
.frequently h1{
    font-size: 25px;
}
.main{
    height: 550px;
    /* background-color: #b673df; */
}
.asks{
    height: 400px;
    width: 380px;
    /* background-color: rgb(49, 35, 17); */
}
.qus h4{
    font-size: 15px;
}
.qus{
    /* background-color: #b673df; */
    width: 350px;
}

.footer1{
    display: none;
}
.footer h7{
    display: none;
}
.footer h2{
    display: none;
}
.screen img{
    height: 60px;
}
.screen {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 140px;
}
.uu h2{
    display: none;
}
.uu h3{
    display: none;
}
.moblie-hover{
    height: 70px;
    width: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.moblie-menu{
    height: 400px;
    width: 100%;
    background-color: #b673df;
    /* display: none; */

    position: absolute;
    top: 80px;
}
.moblie-hover:hover+.moblie-menu{
    display: block;
}  
.moblie-menu:hover{
    display: block;
}  

.moblie-icon{
    height: 400px;
    width: 100%;
    background-color:white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}
.MOB{
    height: 30px;
    width: 340px;
    /* background-color: #f0cccc; */
    gap: 100px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between;
}
.MOB1{
    height: 40px;
    width: 100px; 
    background-color: #272448;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MOB1{
    color: white;
}

.MOB:hover+.hide1{
    display: block;
}

.hide1{
    height: 500px;
    width: 340px;
    background-color:white;
    display: none;
    left: 32px;
    position: absolute;
    top: 40px;  
    /* display: flex;
    align-items: center;
    justify-content: center; */

}
.hide2{
    height:450px;
    width: 320px;
    /* background-color: chartreuse; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: scroll;
    border-radius: 2px solid black;
 
    
}
.HID{
    height: 40px;
    width: 300px;
    /* background-color: aquamarine; */
    display: flex;

}
.HID img{
     height: 30px;
}
.hide3{
    height: 800px;
    width: 340px;
    /* background-color: #5a4468; */
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
    
}
.hide4{
    height:1500px;
    width: 340px;
    /* background-color: #c6a5db; */
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.hide5{
    height:500px;
    width: 340px;
    /* background-color: #170621; */
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.H1{
    height: 280px;
    width: 190px;
    /* background-color: rgb(42, 165, 63); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    
}
.H1desp{
    height: 52px;
    width: 130px;
    /* background-color: #B4C3CD; */
}
.H1desp p{
    font-size: 14px;
}
.solutionHide{
    height: 400px;
    width: 340px;
    background-color:white;
    display: none;
    left: 32px;
    position: absolute;
    top: 80px; 
}
.MOB:hover+.solutionHide{
    display: block;
}
.solutionHide1{
    height: 440px;
    width: 340px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.solutionH{
    height: 100px;
    width: 200px;
    /* background-color: chartreuse; */
    display: flex;
    border: 0.5px solid rgb(157, 156, 156);
    
   

}
.soludes{
    height: 60px;
    width: 130px;
    /* background-color: cornflowerblue; */
}
.pricingHide{
    height: 350px;
    width: 340px;
    background-color:white;
    display: none;
    left: 32px;
    position: absolute;
    top: 175px; 
}
.MOB:hover+.pricingHide{
    display: block;
}
.pricingHide1{
    height: 300px;
    width: 340px;
    /* background-color:rgb(222, 85, 85); */
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.pricingHide2{
    height:300px ;
    width: 300px;
    /* background-color: crimson; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.pricingH{
    height: 100px;
    width: 250px;
    /* background-color: #f0cccc; */
    display: flex;
    border: 0.5px solid rgb(157, 156, 156);
}
.communityHide{
    height: 350px;
    width: 340px;
    background-color:white;
    display: none;
    left: 32px;
    position: absolute;
    top: 225px; 
}
.MOB:hover+.communityHide{
    display: block;
}
.communityHide2{
    height:350px ;
    width: 330px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: scroll;
}
.commudesp{
    height: 100px;
    width: 200px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
     border: 0.5px solid rgb(157, 156, 156);
}
.commudesp1{
    height: 80px;
    width: 140px;
    /* background-color: aquamarine; */
}
.ChooseHide{
    height: 350px;
    width: 340px;
    background-color:white;
    display: none;
    left: 32px;
    position: absolute;
    top: 290px; 
}
.MOB:hover+.ChooseHide{
    display: block;
}
.ChooseHide2{
    height: 350px;
    width: 340px;
    /* background-color: brown; */
    display: flex;
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: scroll;
}
.Choosedesp{
    height: 120px;
    width: 200px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
     border: 0.5px solid rgb(157, 156, 156);
}
.Choosedesp1{
    height: 80px;
    width: 140px;
    /* background-color: aquamarine; */
}
}